* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

header {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 100px;
    text-align: center;
    background-image: url("images/headerImg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 0 black;
}

.headerList {
  font-size: 20px
}

.quizTitle {
  margin: auto;
  display: inline-block
}

.headerList {
  list-style-type: none;
  display: inline-block;
  width: 49%;
}

.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
  margin-top: 50px;
  padding: 50px
}

.image {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  height: 225px;
  width: 200px;
  background-image: startPgImg.jpg;
}

.button {
  width: 200px;
  margin: auto;
  height: 50px;
  margin-top: 20px;
}

.question {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

input {
  margin-top: 20px;
}

@media screen and (min-width: 500px) {
  .box {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}